@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
//font-family: 'Open Sans', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Rubik:wght@300&display=swap");
//font-family: 'Rubik', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
//font-family: 'Lato', sans-serif;

$textcolor: #adadad;
$textcolor1: #4a4a4a;
$textcolor2: #ffffff;
$greenColor1: #04cc41;
$greenColor2: #cdf5d9;
$buttonGradient: linear-gradient(to right, #36c802, #1efc65);

@mixin divCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin buttonStyle {
    padding: 1rem;
    margin-top: 3rem;
    background: linear-gradient(to right, #36c802, #1efc65);
    padding-right: 6rem;
    padding-left: 6rem;
    border: none;
    color: $textcolor2;
    font-size: 2rem;
    border-radius: 1.5rem;
    transition: 1s;
    box-shadow: 0px 15px 15px #cacaca;
    &:hover {
        background: linear-gradient(to right, #1efc65, #36c802);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

.navbar {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}
.nav-item {
    padding-left: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.3rem;
    position: relative;
}

.nv1::before{
    content: "";
    position: absolute;
    left: 36%;
    top: 100%;
    width: 0%;
    height: 2px;
    background-color: $textcolor1;
    transition: all 0.3s linear;
}
.nv1:hover::before{
    width: 56%;
}
.nv2::before{
    content: "";
    position: absolute;
    left: 33%;
    top: 100%;
    width: 0%;
    height: 2px;
    background-color: $textcolor1;
    transition: all 0.3s linear;
}
.nv2:hover::before{
    width: 59%;
}
.nv3::before{
    content: "";
    position: absolute;
    left: 28%;
    top: 100%;
    width: 0%;
    height: 2px;
    background-color: $textcolor1;
    transition: all 0.3s linear;
}
.nv3:hover::before{
    width: 66%;
}
.nv4::before{
    content: "";
    position: absolute;
    left: 29%;
    top: 100%;
    width: 0%;
    height: 2px;
    background-color: $textcolor1;
    transition: all 0.3s linear;
}
.nv4:hover::before{
    width: 64%;
}
.header {
    background: url(../images/banner.jpg);
    background-attachment: fixed;
    height: 768px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.sec1 {
    padding-top: 8.5rem;
}
.heading {
    @include flexCenter(column);
    align-items: flex-start;
    margin-bottom: 8rem;
    h1 {
        font-size: 6rem;
        font-weight: bold;
        color: #8caf24;
    }
    p {
        font-size: 3rem;
        padding-top: 3rem;
        color: $textcolor1;
    }
    button {
        @include buttonStyle;
    }
}

.loan {
    font-size: 3.8rem;
    color: $greenColor1;
}

.sec1 {
    margin-top: 3rem;
}

.top1 {
    position: absolute;
    right: 0;
    bottom: 0;
    position: fixed;
}

.img {
    padding: 7rem;
}

#about{
    overflow: hidden;
}

.about-sec {
    position: relative;
    @include flexCenter(column);
    padding: 7rem;
    align-items: flex-start;
    h1 {
        font-size: 5.5rem;
        color: $textcolor1;
    }
    p {
        font-size: 2rem;
        padding-top: 3.5rem;
        color: $textcolor1;
    }
    h1::before {
        content: "";
        position: absolute;
        background: $textcolor1;
        height: 0.6rem;
        top: 29.5%;
        left: 3%;
        width: 10rem;
    }
    h1::after {
        content: "Sri Vinayaka Associates";
        position: absolute;
        font-size: 1.5rem;
        color: $textcolor1;
        top: 28%;
        left: 24%;
    }
}

.box1 {
    @include flexCenter(column);
    margin-top: 4rem;
    border-radius: 7%;
    height: 400px;
    transition: 0.3s;
    text-align: center;
    color: $textcolor1;
    &:hover {
        transform: translateY(-10%);
        box-shadow: 0px 20px 25px rgb(153, 153, 153);
        background: $greenColor1;
        color: $textcolor2;
    }
    img {
        padding: 1.6rem;
    }
    h2 {
        font-size: 3rem;
        font-weight: bold;
    }
    p {
        font-size: 2rem;
        padding: 1.5rem;
        font-weight: 450;
    }
}

.carousel-inner {
    padding: 2rem;
}

.carousel-indicators {
    li {
        background-color: $greenColor1 !important;
    }
}

.servicesH {
    font-size: 5rem;
    color: $textcolor1;
    &::before {
        content: "";
        position: absolute;
        height: 0.6rem;
        background: $textcolor1;
        top: 95%;
        left: 1.5%;
        width: 12rem;
    }
}
.wrapweb {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.new {
    position: relative;
}
#services {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        z-index: -1;
        background: linear-gradient(20deg, #cdf5d9 0%, #cdf5d9 16%, #fff 0%, #fff 66%, #cdf5d9 0%, #cdf5d9 67%);
    }
}

.wrapmob {
    display: none;
}

#contact {
    font-size: 2rem;
    padding: 10rem;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        z-index: -1;
        background: linear-gradient(-155deg, $greenColor1 40%, #fff 0%);
    }
}



.project-work {
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: $textcolor1;
}

.chead {
    font-size: 5rem;
    color: $textcolor1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    &::before {
        content: "";
        position: absolute;
        height: 0.6rem;
        background: $textcolor1;
        top: 85%;
        left: 1.5%;
        width: 12rem;
    }
}

.end1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .callnmail{
        font-size: 1.5rem;
        color: rgb(94, 94, 94);
    }
    h2{
        font-size: 3rem;
        color: $textcolor1;
    }
}

.form-control {
    border-radius: 0;
    border: none;
    background-color: #4e4d4d;
}
::placeholder {
    color: #d6d4d4;
    opacity: 1;
}
.btn {
    border-radius: 0;
    background-color: yellow;
    color: black;
    border: none;
}

.form-group{
    input{
        padding: 2rem;
        border-radius: 1rem;
        border: none;
        box-shadow: 0px 5px 10px rgb(151, 151, 151);
    }
    textarea{
        padding: 2rem;
        border-radius: 1rem;
        border: none;
        box-shadow: 0px 5px 10px rgb(151, 151, 151);
    }
}

.form{
    button{
        @include buttonStyle();
        padding: .5rem 3rem .5rem 3rem;
    }
}

#footer {
    @include flexCenter(row)
    height: 100px;
    width: 100%;
    background: linear-gradient(to right, rgb(10, 224, 240), $greenColor1);
    p{
        font-size: 2rem;
        color: $textcolor2;
        font-weight: bold;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 55%;
    }
    .header {
        height: 500px;
    }
}

@media screen and (max-width: 990px) {
    html {
        font-size: 45%;
    }
    .nav-item{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .nv1::before{
        display: none;
    }
    .nv2::before{
        display: none;
    }
    .nv3::before{
        display: none;
    }
    .nv4::before{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 48%;
    }
    .img1 {
        display: none;
    }
    .header {
        background: url(../images/mobbanner.jpg);
        background-attachment: fixed;
        height: 100vh;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .heading {
        margin-left: 2rem;
    }
    .nav-item {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .sec1 {
        padding-top: 15rem;
    }
    .navbar {
        background: $textcolor2;
    }
    .img {
        text-align: center;
    }
    .about-sec {
        text-align: center;
        align-items: center;
        h1::before {
            content: "";
            position: absolute;
            background: $textcolor1;
            height: 0.6rem;
            top: 32%;
            left: 20%;
            width: 10rem;
        }
        h1::after {
            content: "Sri Vinayaka Associates";
            position: absolute;
            font-size: 1.5rem;
            color: $textcolor1;
            top: 30.9%;
            left: 45%;
        }
    }
    .wrapweb {
        display: none;
    }
    .wrapmob {
        display: block;
    }
    .servicesH {
        &::before {
            content: "";
            position: absolute;
            top: 9%;
            left: 5%;
        }
    }
    .chead {
        &::before {
            content: "";
            position: absolute;
            top: 85%;
            left: 5%;
        }
    }
    .happy {
        flex-direction: column;
    }
    #contact{
        padding: 4rem;
        font-size: 2rem;
        &::before {
            content: "";
            position: absolute;
            top: 0%;
            bottom: 0%;
            left: 0%;
            right: 0%;
            z-index: -1;
            background: linear-gradient(-65deg, $greenColor1 40%, #fff 0%);
        }
    }
    .servicesH {
        margin-bottom: 1.5rem;
        &::before {
            content: "";
            position: absolute;
            height: 0.6rem;
            background: $textcolor1;
            top: 95%;
            left: 5%;
            width: 12rem;
        }
    }
}
@media screen and (max-width: 280px) {
    .header {
        height: 500px;
    }
}
